{
  "alapi_key":"",   
  "bing_subscription_key": "",  
  "google_api_key": "",  
  "google_cx_id": "",  
  "functions_openai_model":"gpt-3.5-turbo-0613",   
  "assistant_openai_model":"gpt-4-1106-preivew",   
  "getwt_key":"",
  "temperature":0.8,     
  "cc_api_base":"https://api.lfei.cc",

  
  "prompt": {
    "bing_google_search": "现在时间是{time}，根据用户要求和返回的搜索结果(包括标题、来源、内容、链接),将各条结果进行汇总分析,适当归类,使其结果符合搜索引擎返回的结果(只要简洁明了呈现分析结果以满足提问的需求即可)。适当加入emoji表情,以增加用户的体验感。不用提供新闻链接",
    "webpilot_search": "现在时间是{time}，根据用户要求和返回的搜索结果(包括标题、来源、内容、链接),将各结果进行汇总分析,对搜索结果适当归类,适当划分段落结构(每段可按需设置段落标题并搭配emoji)，使其结果符合搜索引擎返回的结果(简洁明了呈现分析结果以满足提问的需求即可)。适当加入emoji表情,以增加用户的体验感。",
    "search_bing_news": "现在时间是{time},请根据搜索引擎返回的信息,按照用户的要求,告诉用户'{name}'想要的信息。要求在汇总分析结果的时候,适当加入代表实时数据的emoji表情,以增加用户的体验感。尽量保持返回的信息结构(新闻标题、来源、新闻内容、新闻链接,适当加入合适的emoji)的一致性,以便用户更好地阅读。最后将各条结果根据用户要求进行汇总分析。",
    "get_tv_show_interests": "请分析以下的影视评论,逐条罗列(无序罗列,配合emoji表达感受)并最后提供一句总结,表示推荐度如：'推荐5⭐、3⭐...'",
    "fetch_top_tv_shows":"为以下的电视剧榜单推荐, 适当进行优化排版,使其显得更像一个'热门榜单',并添加合适的emoji。",
    "get_morning_news": "根据返回的早报的内容,优化其排版、分类,同时保留其内容的丰富完整性,根据新闻条目的类型添加不同的符合新闻主题的emoji",
    "fetch_latest_news": "保留返回的新闻内容的排版格式,告知用户当前的时间{time},保留内容的丰富性和完整性,在最后对列出的新闻进行适当总结,使用户更生动地理解新闻内容,确保段落结构清晰,总结内容可以适当添加emoji。链接前后不要添加括号",
    "fetch_financial_news":"保留返回的新闻内容的排版格式,确保段落结构清晰,告知用户当前的时间{time},保留内容的丰富性和完整性,对新闻内容适当归类，在最后对列出的新闻进行适当总结,使用户更生动地理解新闻内容,总结内容适当添加emoji。",
    "fetch_ai_news":"保留返回的新闻内容的排版格式,告知用户当前的时间{time},保留内容的丰富性和完整性,在最后对列出的新闻进行适当总结,使用户更生动地理解新闻内容,确保段落结构清晰,总结内容可适当添加emoji。",
    "fetch_hero_trending":"以下返回的数据是王者荣耀英雄相关的胜率、登场率等数据,近30天的热度值,请排版美观地展示各个不同分段地胜率、禁用率等数据,并对返回的英雄近30天的热度进行趋势分析,根据这些日期对应的数值判断英雄的受欢迎程度、热门程度,数值越大,越热门,可以从<最热门的时间段、热门的趋势、热度上升/下降的走势分析等多个维度>,预测预判未来这个英雄是否值得玩家使用,分析完毕后进行一个受欢迎程度的推荐,分析时请优化排版,方便阅读,适当使用emoji,逻辑清晰,分析时不要把观察到的数据全部罗列出,只需要对数据进行分析即可。不要使用markdown语法",
    "get_weather":"告知用户当前的时间{time}, 根据返回的城市的天气情况,并根据用户的需求(例如气温、是否下雨、未来天气等),精确整理出当前城市的重要天气信息,注意美化排版,确保段落结构清晰,适当使用emoji,使返回的内容像极了生动的天气预报!不要使用markdown语法",
    "fetch_nowplaying_movies":"告知用户当前的时间{time}, 根据返回的正在上映的电影的内容,要优化其排版,确保段落结构清晰,添加适当的动态实时emoji,以增加用户的体验感。",
    "get_hero_ranking":"以下返回的是当前时间{time}的英雄梯度榜,请根据排名根据不同T度等级进行优化排版,适当添加emoji,使其更像一个榜单,以增加用户的体验感。",
    "get_weather_by_city_name":"根据用户查询的当前城市的重要天气信息,美化排版,确保段落结构清晰,适当使用emoji,使返回的内容像极了生动的天气预报!",
    "get_hotlist":"以下是返回的热榜信息,请优化排版,体现热榜的特点,确保段落结构清晰,不要提供链接。",
    "fetch_cls_news":"请保留返回的财联社新闻内容的排版格式,告知用户当前的时间{time},保留内容的丰富性和完整性,分析和总结新闻重点,使用户更生动地理解新闻内容,确保段落结构清晰,总体内容长度控制在500字以内,总结内容适当添加emoji。"
  }
}